#scheda_riduttori{
  background: #e6e6e6;
}

#scheda_riduttori .row_1{
  padding: 0px 20px;
  border-bottom: 1px solid #525252;
}

#scheda_riduttori .row_hidden{
  display: none !important;
  opacity: 0;
}

#scheda_riduttori .cont_1{
  background: #f2f2f2;
  border-radius: 10px;
  padding: 20px 30px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px #b3b3b3;
}

#scheda_riduttori .cont_1 p{
  font-size: 18px;
  color: #4d4d4d;
  line-height: 1.6em;
}

#scheda_riduttori .cont_1 h4{
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

#scheda_riduttori #mappa{
  border-radius: 20px;
  box-shadow: 2px 2px 10px #b3b3b3;
}

#scheda_riduttori .gallery_img_riduttori{
  border-radius: 10px;
  box-shadow: 1px 1px 5px #b3b3b3;
}

#scheda_generale_riduttori .thumbnail{
  border-radius: 10px;
  box-shadow: 1px 1px 5px #b3b3b3;
  padding: 20px;
}

#scheda_generale_riduttori .thumbnail img{
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#scheda_generale_riduttori .thumbnail .tag{
  font-size: 18px;
  color: #333333;
  font-weight: bold;
}

#scheda_generale_riduttori .thumbnail .lat,
#scheda_generale_riduttori .thumbnail .long{
  display: none;
  opacity: 0;
}